@media (max-width: 1440px) {
    .container {
        width: 90%;
    }
}
@media (max-width: 1200px) {

}
@media (max-width: 1024px) {
    .hero-title h1 {
        font-size: 33px;
    }
    .hero-title p {
        font-size: 18px;
    }
    .hero-img img {
        width: 1px;
    }
    .comp h1 {
        font-size: 28px;
    }
    .comp p {
        font-size: 15px;
    }
}
@media (max-width: 992px) {
    .header-nav {
        display: none;
    }
    .hero-title h1 {
        font-size: 30px;
    }
    .hero-title p {
        font-size: 13px;
    }
    .hero-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 30px;
    }
    .hero {
        flex-direction: column;
    }
    .comp {
        flex-direction: column;
    }
    .comp-title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    .block p {
        font-size: 16px;
    }

}
@media (max-width: 768px) {
    .block p {
        font-size: 12px;
    }
}
@media (max-width: 576px) {
    .hero img {
        width: 90%;
    }
    .comp img {
        width: 90%;
    }
    .blocks {
        flex-direction: column;
    }
    .block {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    .contact {
        width: 90%;
        /*flex-direction: column;*/
        /*align-items: flex-start;*/
        padding-bottom: 20px;
    }

}
@media (max-width: 451px) {
    .comp-title  p {
        font-size: 13px;
    }
    .block {
        padding: 20px 0;
    }
    .block-left h3 {
        font-size: 17px;
    }
    .block-left p {
        font-size: 15px;
    }
    .block-right h3 {
        font-size: 17px;
    }
    .block-right p {
        font-size: 15px;
    }
    .contact {
        width: 90%;
        flex-direction: column;
        align-items: flex-start;
    }
    .block-left {
        margin-bottom: 20px;
    }

}
@media (max-width: 400px) {
    .comp p {
        font-size: 12px;
    }
    .comp h1 {
        font-size: 25px;
    }
    .footer h1 {
        font-size: 17px;
    }
}
@media (max-width: 376px) {
    .hero-title h1 {
        font-size: 26px;
    }
    .comp h1 {
        font-size: 24px ;
    }
    .comp p {
        font-size: 11px ;
    }
    .footer h1 {
        font-size: 16px;
    }

}
@media (max-width: 320px) {
    .header img {
        width: 27%;
    }
    .header-icon {
        font-size: 18px;
    }
    .hero-title p {
        font-size: 11px;
    }
    .comp h1 {
        font-size: 21px;
    }
    .comp p {
        font-size: 9px;
    }
    .blocks-title {
        font-size: 28px;
    }
    .footer h1 {
        font-size: 10px;
    }

}
